{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock title %}
{% block body %}

<body>
    <div class="container p-3">
        <!-- <h1>{{typ}}</h1> -->
        {% if typ == "new" %}
        <div class="new">
            {% if getKey == key %}
            <form>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">UserName</label>
                    <input type="text" disabled value="{{uname}}" class="form-control" id="uname">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cpass">
                </div>
                <div class="msg p-3" id="msg"></div>
                <button type="button" id="sub" class="btn btn-primary">Submit</button>
            </form>
            {% else %}
            <h1>Token Error.</h1>
            {% endif %}
        </div>
        {% elif typ == "old" %}
        <div class="old">
            <form>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">UserName</label>
                    <input type="text" disabled value="{{uname}}" class="form-control" id="uname">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="mb-3">
                    <label for="cpass" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cpass">
                </div>
                <div class="msg p-3" id="msg"></div>
                <button type="button" id="sub" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% else %}
        <div class="defult">
            <form>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">UserName</label>
                    <input type="text" class="form-control" id="uname">
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="mb-3">
                    <label for="cpass" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cpass">
                </div>
                <div class="msg p-3" id="msg"></div>
                <button type="button" id="sub" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</body>
{% endblock %}
{% block script %}
<script>
    btnclk('#sub', () => {
        Ajax({
            url: "{% url 'cng_pass' %}",
            method: "POST",
            data: {
                csrfmiddlewaretoken: getVal('input[name=csrfmiddlewaretoken]'),
                uname: getVal('input[id=uname]'),
                pass: getVal('input[id=pass]'),
                cpass: getVal('input[id=cpass]'),
            },
            success: (respons) => {
                if (respons === "<div class=\"alert alert-success\" role=\"alert\">Success Redirect to login page in 5 second.</div>") {
                    setTimeout(() => {
                        window.location.href = "{% url 'login' %}"
                    }, 5000)
                    setHtml("#msg", respons);
                } else {
                    setHtml("#msg", respons)
                }
            },
            error: (respons) => {
                console.log(respons)
            }
        })
    })
</script>
{% endblock %}