{% extends 'base.html' %}
{% block title %} LogIn {% endblock title %}
{% block body %}

<body>
    <div class="container"><br>
        <h2 style="text-align: center;">Login Page</h2>
        <div class="form row g-3"><br>
            <form autocomplete="off">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">UserName</label>
                    <input type="text" placeholder="jondoe01" autocomplete="off" class="form-control col-8" id="uname">
                </div>
                <div class="mb-3 col-auto">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" placeholder="********" autocomplete="off" class="form-control" id="pass">
                    <div class="mt-2"><a href="{% url 'forgot-pass' %}" class="mt-5" style="text-decoration: none;">Forgot your Password</a>
                    </div>
                </div>
                <button id="sub_btn" type="button" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div id="msg" class="mt-2">
        </div>
    </div>
</body>

{% endblock %}
{% block script %}
<script>
    btnclk("#sub_btn", () => { Ajax({ url: "{% url 'login_sub' %}", method: "POST", data: { csrfmiddlewaretoken: getVal("input[name=csrfmiddlewaretoken]"), uname: getVal("#uname"), pass: getVal("#pass") }, success(e) { 1 == e ? window.location.replace('{% url "log_home" %}') : setHtml("#msg", e) }, error(e) { console.log(e) } }) });
</script>
{% endblock %}